#root {
  background-color: rgb(87, 88, 88);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-toggle::after {
  display: none !important;
}


.movie-card {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  max-width: 800px;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 4vh auto;
  border-radius: 4px;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, .4);
  color: white;
  padding: 2vh 3%;
}

.movie-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(to right, rgba(40, 40, 60, 1) 0%, rgba(40, 0, 60, 0) 90%);
  background-blend-mode: multiply;
  will-change: transform;
  z-index: 0;
}

/* i {
  font-size: .7em;
  color: #ff5b84;
}
h1 {
  font-size: 170%;
  position: relative;
  z-index: 10;
}
span {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-right: 80px;
  color: rgb(210, 210, 210);
}
.watch {
  display: block;
  border: 1px solid white;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  color: white;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, .3);
  margin: 20px 0px;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all .2s;
}
button:hover {
  background: rgba(255, 255, 255, .8);
  color: black;
  box-shadow: 0 0 10px rgba(255,255,255,.5);
  mix-blend-mode: screen;
} */
/* button:active {
  transform: translateY(2px);
}
p {
  position: relative;
  z-index: 10;
  font-size: .8em;
  width: 60%;
  height: 35%;
} */

@media (max-width: 768px) {

  .movie-card {
    width: 75%;
    height: 200px;
  }

  /* h1 {
    font-size: 120%;
  }

  p {
    display: none;
    /*     overflow: hidden;
    width: 100%;
    height: 30%; 
   }  */

  .watch {
    margin: 5% auto;
  }
}

@media (max-width: 500px) {
  .movie-card {
    width: 100%;
  }
}

.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.star {
  position: relative;
  /* line-height: 60px; */
  display: inline-block;
  transition: color 0.2s ease;
  color: #ebebeb;
}

.star:before {
  content: '\2605';
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.star:hover,
.star.selected,
.star:hover~.star,
.star.selected~.star {
  transition: color 0.8s ease;
  color: rgb(235, 227, 14);
}